<div class="container">
  <div class="story-div">
    {{#link-to 'story' story.id}}<p><img class="story-img" src={{story.picture}}></p>{{story.headline}} By: {{story.author}}{{/link-to}}
  </div>
</div>
