<div class="container">
  <div class="story-div">
    {{#link-to 'story-detail' story.id}}<img class="story-img" src={{story.picture}}>{{story.headline}} By: {{story.author}}{{/link-to}}

  </div>
</div>
