<nav class="secondary">
  <div class="nav-wrapper">
    <a href="/admin" class="brand-logo">Admin</a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>{{#link-to 'update'}}Update Content{{/link-to}}</li>
      <li>{{#link-to 'new-content'}}Create Content{{/link-to}}</li>

    </ul>
  </div>

</nav>
