<div class="container">
  <div class="jumbotron">
  </div>
</div>
<nav>
   <div class="nav-wrapper">
     <a href="/" class="brand-logo">Bustle</a>

     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li>{{#link-to 'index'}}HomePage{{/link-to}}</li>
       <li>{{#link-to 'about'}}About{{/link-to}}</li>
       <li>{{#link-to 'contact'}}Contact Us{{/link-to}}</li>
       <li>{{#link-to 'admin'}}Administrator{{/link-to}}</li>
     </ul>
   </div>
 </nav>
{{outlet}}
